In [1]:
import pandas as pd

df = pd.read_csv('../tesla_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  2640 non-null   int64
 1   Month                 2640 non-null   int64
 2   Region                2640 non-null   object
 3   Model                 2640 non-null   object
 4   Estimated_Deliveries  2640 non-null   int64
 5   Production_Units      2640 non-null   int64
 6   Avg_Price_USD         2640 non-null   float64
 7   Battery_Capacity_kWh  2640 non-null   int64
 8   Range_km              2640 non-null   int64
 9   CO2_Saved_tons        2640 non-null   float64
 10  Source_Type           2640 non-null   object
 11  Charging_Stations     2640 non-null   int64
dtypes: float64(2), int64(7), object(3)
memory usage: 247.6+ KB

In [8]:
bounds = (df
 .describe()
 .transpose()
 .assign(IQR=lambda x: x['75%'] - x['25%'])
 .assign(lower_bound=lambda x: x['25%'] - 1.5 * x['IQR'])
 .assign(upper_bound=lambda x: x['75%'] + 1.5 * x['IQR'])
)

bounds

,count,mean,std,min,25%,50%,75%,max,IQR,lower_bound,upper_bound
Year,2640.0,2020.000000,3.162877,2015.00,2017.000,2020.000,2023.0000,2025.00,6.0000,2008.00000,2032.00000
Month,2640.0,6.500000,3.452707,1.00,3.750,6.500,9.2500,12.00,5.5000,-4.50000,17.50000
Estimated_Deliveries,2640.0,9922.199621,3935.950093,48.00,7292.000,9857.000,12510.2500,25704.00,5218.2500,-535.37500,20337.62500
Production_Units,2640.0,10655.847348,4260.600858,50.00,7828.250,10546.500,13469.0000,28939.00,5640.7500,-632.87500,21930.12500
Avg_Price_USD,2640.0,84907.340330,20123.258036,50003.70,67726.365,85058.510,102373.0425,119965.36,34646.6775,15756.34875,154343.05875
Battery_Capacity_kWh,2640.0,87.059470,20.836265,60.00,75.000,82.000,100.0000,120.00,25.0000,37.50000,137.50000
Range_km,2640.0,500.257576,120.868549,330.00,418.000,470.000,586.2500,719.00,168.2500,165.62500,838.62500
CO2_Saved_tons,2640.0,744.076989,353.221224,3.07,499.620,699.515,943.7650,2548.55,444.1450,-166.59750,1609.98250
Charging_Stations,2640.0,8932.133712,3469.565883,3002.00,5897.750,8901.500,11938.0000,14996.00,6040.2500,-3162.62500,20998.37500

In [19]:
def verify_outlier(row):
    outliers = []
    for col in bounds.index:
        val = row[col]
        lower = bounds.loc[col, "lower_bound"]
        upper = bounds.loc[col, "upper_bound"]
        
        if val < lower:
            outliers.append(f"{col}")
        elif val > upper:
            outliers.append(f"{col}")

    return ",".join(outliers) if outliers else "Normal"

df["Outlier_Status"] = df.apply(verify_outlier, axis=1)
df

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations,Outlier_Status
0,2023,5,Europe,Model S,17646,17922,92874.27,120,704,1863.42,Interpolated (Month),12207,CO2_Saved_tons
1,2015,2,Asia,Model X,3797,4164,62205.65,75,438,249.46,Official (Quarter),7640,Normal
2,2019,1,North America,Model X,8411,9189,117887.32,82,480,605.59,Interpolated (Month),14071,Normal
3,2021,2,North America,Model 3,6555,7311,89294.91,120,712,700.07,Official (Quarter),9333,Normal
4,2016,12,Middle East,Model Y,12374,13537,114846.78,120,661,1226.88,Estimated (Region),8722,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,2021,10,Middle East,Model Y,13488,14333,113771.10,120,719,1454.68,Official (Quarter),4273,Normal
2636,2019,7,Middle East,Model S,18300,18407,81889.67,82,487,1336.81,Official (Quarter),9833,Normal
2637,2019,9,Asia,Model S,13291,14839,97139.38,100,580,1156.32,Estimated (Region),13709,Normal
2638,2020,5,Asia,Cybertruck,3471,3714,69990.57,60,358,186.39,Interpolated (Month),6754,Normal
2639,2018,8,North America,Model S,2639,2929,51676.24,82,474,187.63,Estimated (Region),14297,Normal

In [21]:
outliers = df.query('Outlier_Status != "Normal"')
outliers.head(5)

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations,Outlier_Status
0,2023,5,Europe,Model S,17646,17922,92874.27,120,704,1863.42,Interpolated (Month),12207,CO2_Saved_tons
15,2025,3,North America,Cybertruck,17079,18904,111739.13,120,682,1747.18,Official (Quarter),3904,CO2_Saved_tons
86,2020,10,Middle East,Cybertruck,18392,19806,68744.20,120,687,1895.30,Interpolated (Month),8649,CO2_Saved_tons
117,2022,11,Middle East,Model Y,21296,23581,57673.97,60,352,1124.43,Estimated (Region),4630,"Estimated_Deliveries,Production_Units"
123,2020,2,Europe,Cybertruck,19298,21732,119779.45,100,571,1652.87,Interpolated (Month),6843,CO2_Saved_tons

In [35]:
def fix_outliers(row):
    outlier_columns = row['Outlier_Status'].split(',')

    for column in outlier_columns:
        print('before', row[column], 'median', df[column].median())

        row[column] = df[column].median()
    
    return "Normal"

copy = outliers.copy()
copy['Outlier_Status'] = copy.head(1).apply(fix_outliers, axis=1)
copy

before 699.515 median 699.515

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations,Outlier_Status
0,2023,5.0,Europe,Model S,17646.0,17922.0,92874.27,120,704.0,699.515,Interpolated (Month),12207.0,Normal
15,2025,3.0,North America,Cybertruck,17079.0,18904.0,111739.13,120,682.0,699.515,Official (Quarter),3904.0,NaN
86,2020,10.0,Middle East,Cybertruck,18392.0,19806.0,68744.20,120,687.0,699.515,Interpolated (Month),8649.0,NaN
117,2022,11.0,Middle East,Model Y,18105.5,19623.0,57673.97,60,352.0,1124.430,Estimated (Region),4630.0,NaN
123,2020,2.0,Europe,Cybertruck,19298.0,21732.0,119779.45,100,571.0,699.515,Interpolated (Month),6843.0,NaN
136,2017,9.0,Middle East,Model S,15315.0,16609.0,93722.98,120,711.0,699.515,Official (Quarter),10043.0,NaN
179,2022,3.0,Middle East,Model S,18486.0,21086.0,110350.71,100,594.0,699.515,Estimated (Region),8614.0,NaN
193,2018,5.0,North America,Model X,17044.0,18626.0,63064.80,120,661.0,699.515,Estimated (Region),6414.0,NaN
206,2022,10.0,Europe,Model 3,18105.5,19623.0,95174.19,60,342.0,1069.140,Official (Quarter),14164.0,NaN
222,2021,4.0,North America,Model 3,16328.0,17674.0,112147.23,120,666.0,699.515,Official (Quarter),12871.0,NaN
281,2015,3.0,Asia,Model 3,18105.5,19623.0,73659.66,60,341.0,1299.720,Official (Quarter),4127.0,NaN
362,2017,3.0,Europe,Model X,18358.0,19736.0,97573.42,120,664.0,699.515,Official (Quarter),6296.0,NaN
393,2025,11.0,North America,Cybertruck,15743.0,16485.0,55926.89,120,687.0,699.515,Interpolated (Month),11977.0,NaN
536,2024,7.0,North America,Cybertruck,15734.0,17751.0,118196.98,120,686.0,699.515,Interpolated (Month),3725.0,NaN
661,2017,7.0,North America,Model 3,19455.0,21752.0,81804.18,100,581.0,699.515,Estimated (Region),5980.0,NaN
680,2019,1.0,Middle East,Model 3,16394.0,17095.0,94153.93,120,687.0,699.515,Estimated (Region),8784.0,NaN
692,2022,10.0,Asia,Model X,15871.0,17003.0,87563.63,120,706.0,699.515,Interpolated (Month),10935.0,NaN
721,2025,7.0,Middle East,Model S,17474.0,19836.0,68258.46,120,712.0,699.515,Interpolated (Month),10730.0,NaN
725,2015,6.0,Middle East,Model Y,18105.5,19623.0,81318.87,82,472.0,1579.900,Interpolated (Month),5909.0,NaN
729,2018,4.0,Europe,Model X,18105.5,19623.0,78461.34,60,334.0,1075.800,Interpolated (Month),11576.0,NaN
777,2020,7.0,Middle East,Cybertruck,20003.0,19623.0,69900.18,60,347.0,1041.160,Interpolated (Month),10041.0,NaN
805,2024,9.0,North America,Model 3,19606.0,21050.0,97773.53,100,555.0,699.515,Interpolated (Month),6940.0,NaN
808,2015,10.0,Europe,Model S,18105.5,20625.0,68358.48,120,695.0,699.515,Estimated (Region),3617.0,NaN
918,2018,12.0,Middle East,Model Y,18736.0,19288.0,64822.21,120,662.0,699.515,Estimated (Region),6864.0,NaN
963,2022,3.0,Asia,Model S,17591.0,18945.0,111047.42,120,677.0,699.515,Interpolated (Month),4034.0,NaN
1098,2016,10.0,Europe,Model S,16842.0,18849.0,52426.92,120,694.0,699.515,Estimated (Region),14945.0,NaN
1128,2019,11.0,Asia,Model Y,20196.0,20348.0,54403.52,120,671.0,699.515,Interpolated (Month),3389.0,NaN
1190,2017,6.0,North America,Cybertruck,16693.0,18316.0,68718.14,120,660.0,699.515,Interpolated (Month),14580.0,NaN
1318,2016,9.0,Europe,Model S,18105.5,20930.0,110072.39,100,590.0,699.515,Estimated (Region),9489.0,NaN
1338,2025,2.0,Asia,Model 3,17456.0,19595.0,107746.29,120,674.0,699.515,Interpolated (Month),6883.0,NaN
1341,2017,12.0,North America,Model 3,18105.5,19623.0,61247.57,120,661.0,699.515,Official (Quarter),8388.0,NaN
1441,2022,12.0,Asia,Model S,15242.0,15254.0,118941.01,120,712.0,699.515,Interpolated (Month),13741.0,NaN
1444,2023,7.0,Middle East,Model X,15532.0,17175.0,90413.92,120,713.0,699.515,Estimated (Region),11403.0,NaN
1450,2021,5.0,Middle East,Cybertruck,17149.0,17698.0,57385.96,120,700.0,699.515,Estimated (Region),10928.0,NaN
1456,2021,2.0,North America,Model X,18105.5,19623.0,117528.33,120,664.0,699.515,Interpolated (Month),3641.0,NaN
1580,2021,11.0,Middle East,Model Y,17733.0,20082.0,84700.19,120,678.0,699.515,Official (Quarter),12043.0,NaN
1628,2018,12.0,Asia,Model S,17422.0,18081.0,81270.85,120,667.0,699.515,Official (Quarter),5471.0,NaN
1837,2021,11.0,Asia,Cybertruck,19764.0,19623.0,91262.96,60,344.0,1019.820,Estimated (Region),9880.0,NaN
1848,2023,4.0,Europe,Model X,18742.0,20023.0,74109.96,100,584.0,699.515,Estimated (Region),12114.0,NaN
1897,2015,12.0,Asia,Model X,17386.0,18422.0,69195.06,120,719.0,699.515,Interpolated (Month),7912.0,NaN
1905,2017,7.0,North America,Model Y,16877.0,18964.0,70466.82,120,686.0,699.515,Interpolated (Month),3262.0,NaN
1912,2015,4.0,North America,Model S,18488.0,19651.0,67341.17,120,681.0,699.515,Interpolated (Month),12094.0,NaN
2000,2016,2.0,Europe,Model X,18306.0,18871.0,57834.37,120,676.0,699.515,Estimated (Region),3685.0,NaN
2044,2017,2.0,Middle East,Model X,16196.0,17766.0,118193.61,120,710.0,699.515,Official (Quarter),3283.0,NaN
2092,2016,12.0,Asia,Model S,18105.5,21279.0,117482.02,120,714.0,699.515,Official (Quarter),11665.0,NaN
2140,2015,11.0,Middle East,Model 3,20107.0,19623.0,74346.64,120,700.0,699.515,Interpolated (Month),9788.0,NaN
2142,2022,1.0,North America,Model S,18105.5,19623.0,53441.10,82,474.0,1469.420,Interpolated (Month),13243.0,NaN
2189,2022,8.0,North America,Model 3,15396.0,17005.0,91077.43,120,709.0,699.515,Interpolated (Month),3867.0,NaN
2290,2018,3.0,Asia,Model Y,17318.0,18386.0,79924.05,120,679.0,699.515,Estimated (Region),9770.0,NaN
2305,2022,8.0,North America,Model Y,17669.0,18984.0,107730.62,120,684.0,699.515,Official (Quarter),4228.0,NaN
2356,2017,4.0,Europe,Model 3,17905.0,19292.0,103114.34,120,676.0,699.515,Official (Quarter),7236.0,NaN
2472,2021,10.0,Middle East,Model 3,18542.0,19705.0,99990.72,120,711.0,699.515,Estimated (Region),4856.0,NaN
2490,2022,5.0,Europe,Model Y,18105.5,19623.0,89555.17,60,358.0,1169.160,Official (Quarter),13826.0,NaN
2517,2019,4.0,North America,Model S,17426.0,19342.0,119679.51,120,677.0,699.515,Estimated (Region),9458.0,NaN

In [33]:
for col in bounds.index:
    lower = bounds.loc[col, "lower_bound"]
    upper = bounds.loc[col, "upper_bound"]
    median = df[col].median()
    
    # substitui outliers inferiores/superiores pela mediana
    outliers.loc[outliers[col] < lower, col] = median
    outliers.loc[outliers[col] > upper, col] = median

C:\Users\Hertz\AppData\Local\Temp\ipykernel_7384\3549782235.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  outliers.loc[outliers[col] < lower, col] = median
C:\Users\Hertz\AppData\Local\Temp\ipykernel_7384\3549782235.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10546.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  outliers.loc[outliers[col] < lower, col] = median

In [36]:
outliers.head(5)

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations,Outlier_Status
0,2023,5.0,Europe,Model S,17646.0,17922.0,92874.27,120,704.0,699.515,Interpolated (Month),12207.0,CO2_Saved_tons
15,2025,3.0,North America,Cybertruck,17079.0,18904.0,111739.13,120,682.0,699.515,Official (Quarter),3904.0,CO2_Saved_tons
86,2020,10.0,Middle East,Cybertruck,18392.0,19806.0,68744.20,120,687.0,699.515,Interpolated (Month),8649.0,CO2_Saved_tons
117,2022,11.0,Middle East,Model Y,18105.5,19623.0,57673.97,60,352.0,1124.430,Estimated (Region),4630.0,"Estimated_Deliveries,Production_Units"
123,2020,2.0,Europe,Cybertruck,19298.0,21732.0,119779.45,100,571.0,699.515,Interpolated (Month),6843.0,CO2_Saved_tons